
.container {
    display: flex;                  /* Enable flexbox layout */
    flex-direction: column;        /* Arrange items in a column */

  }
/* Hide the default checkbox input */
.custom-checkbox input {
    display: none;
  }
  
  /* Style the custom checkbox container */
  .custom-checkbox {
    display: inline-block;
    cursor: pointer;
  }
  
  /* Checkbox container with background color */
  .custom-checkbox .checkbox-icon {
    width: 15px; /* Adjust size as needed */
    height: 15px; /* Adjust size as needed */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    color: #000; /* Default color for the SVG */
    border-color: black;
    margin: 3px;
  }
  
  /* When the checkbox is checked */
  .custom-checkbox input:checked + .checkbox-icon {
    background-color: black; /* Background color when checked */
    border-color: black;
    color: white; /* Color for the SVG when checked */
  }

  /* Hide the checkmark by default */
.custom-checkbox .checkmark {
    display: none;
  }
  
  /* Show the checkmark when the checkbox is checked */
  .custom-checkbox input:checked + .checkbox-icon .checkmark {
    display: inline-block;
  }