:root {
  --checkbox-focus-color: blue;
  --primary-color: black;
  --secondary-color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

input[type="checkbox"]:focus {
  outline-color: var(--checkbox-focus-color);
}


/* Visually hide the checkbox input, but keep it focusable */
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
}

.custom-checkbox .checkbox-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  position: relative;
  color: var(--primary-color);
  margin: 3px;
}

/* When the checkbox is checked */
.custom-checkbox input:checked+.checkbox-icon {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Hide the checkmark by default */
.custom-checkbox .checkmark {
  display: none;
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input:checked+.checkbox-icon .checkmark {
  display: inline-block;
}

/* add focus on custom checkbox2 if checkbox 1 is checked*/
#checkbox1:focus-visible+.custom-checkbox .checkbox-icon {
  outline: 2px solid var(--checkbox-focus-color);
  outline-offset: 2px;
}

/* focus style */
.custom-checkbox.no-checkbox1 input[type="checkbox"]:focus-visible+.checkbox-icon {
  outline: 2px solid var(--checkbox-focus-color);
  outline-offset: 2px;
}